<% include partials/header %>
  <h1>Add Customers</h1>

  <% if(errors != undefined) { %>
    <ul>
    <% errors.forEach(function(err){ %>
      <li><%= err.msg %></li>
    <% }) %>
    </ul>
  <% } %>

  <form method="POST" action="/users/add">
    <label for="firs tName">First Name</label>
    <br>
    <input type="text" name="first_name">
    <br>
    <label for="last Name">Last Name</label>
    <br>
    <input type="text" name="last_name">
    <br>
    <label for="email">Email</label>
    <br>
    <input type="text" name="email">
    <br>
    <input type="submit" value="Submit">
  </form>

  <h1><%= title %></h1>  
  <ul>
    <% users.forEach(function(u){ %>
      <li>
        <%= u.firstName %>
        <%= u.lastName %>
        <%= u.email %>
      </li>
    <% }) %>
  </ul>
<% include partials/footer %>